In [1]:
import MySQLdb     
import pandas as pd

def writeEach(df, db):
    cursor = db.cursor()
    for i in range(df['日期'].count()):
        aVal = '('
        for j in df.iloc[i]:
            aVal = aVal + ("'" + str(j) + "',")
        aVal = aVal[:-1] +")"
        
        #qString  = "INSERT INTO air VALUES" + aVal
        #cursor.execute(qString)
    return df['日期'].count()
                
def writeTodb(df):

    
    val=''
    for i in range(df['日期'].count()):
        aVal = '('
        ccnt = 0
        for j in df.iloc[i]:
            if ccnt <= 2:
                aVal = aVal + ("'" + str(j) + "',")
            else :
                aVal = aVal + ( str(j) + ',')
            ccnt += 1
        aVal = aVal[:-1] + '),'
        val = val + aVal
    val = val[:-1]
    print(val)
    cursor.execute("INSERT INTO air VALUES" + val )
    


if __name__ == '__main__':
    db=MySQLdb.connect(host="localhost",user="root", passwd="swater0", db="airdb", charset="utf8")

    os.chdir("C:/Users/ming/Desktop/data")
    #df = pd.read_excel('test.xls')
    #writeTodb(df.head(3))
    totalRows = 0
    files = 0
    for direct in glob.glob("*"):
        if os.path.isdir(direct):
            os.chdir(direct)
            for file in glob.glob("*.xls"):
                df = pd.read_excel(file)
                writeEach(df,db)
                fileRows = writeEach(df,db)
                totalRows +=  fileRows
                files+=1
                #writeTodb(df)
            os.chdir("..")
    db.close()
    print("file count : " + str(files))
    print("rows count :" + str(totalRows))

NameError: name 'os' is not defined

In [2]:
####Test area#####
db=MySQLdb.connect(host="localhost",user="root", passwd="swater0", db="testdb", charset="utf8")
cursor = db.cursor()
queryString = "SELECT * FROM airdb VALUES ('有名','0240','mail',24)"
print(queryString)
#cursor.execute("INSERT INTO testtb VALUES ('有名','0240','mail',24)")
db.close()

OperationalError: (1049, "Unknown database 'testdb'")

In [65]:
os.chdir("C:/Users/ming/Desktop/data")
    for direct in glob.glob("*"):
        if os.path.isdir(direct):
            os.chdir(direct)
            for file in glob.glob("*.xls"):
                df = pd.read_excel(file)
                writeTodb(df)
            os.chdir("..")

106年 中部空品區
106年 北部空品區
106年 宜蘭空品區
106年 竹苗空品區
106年 花東空品區
106年 離島監測站
106年 雲嘉南空品區
106年 高屏空品區

NotADirectoryError: [WinError 267] 目錄名稱無效。: 'pmysql.py'

In [7]:
import os, glob
os.chdir("C:\\Users\\ming\\Desktop\\Workspace\\data\\target")
for direct in glob.glob("*.csv"):
    print(direct)

shampoo-sales.csv